<div class="ama-cta">
  <h1 class="desktop-only">Connecting CTV Strategies Across Europe</h1>
  <h1 class="mobile-only">Connecting CTV <br/> Strategies Across Europe</h1>
  <div class="ama-text">
    <!-- Desktop -->
    <p class="desktop-only">Accelerate CTV growth with clarity and strategic connections.
    <br>Enter or scale confidently, unlocking opportunities that drive sustained, strategic growth.</p>
    <!-- Mobile -->
    <p class="mobile-only">We help streaming and CTV companies enter and scale across Europe.</p>
  </div>
  <div class="ama-text-small">
    <!-- Desktop -->
    <p class="desktop-only">Founded by Sabela Ruy-Díaz, Wave Connect helps streaming and CTV brands enter and scale across Europe, combining tailored strategy with over 20 years of media experience.</p>
    <!-- Mobile -->
     <div class="mobile-only text-name">
       <h5>· Sabela Ruy-Díaz · </h5>
       <span>20+ years in media.</span>
     </div>
  </div>


  <div class="cta-buttons">
    <span class="desktop-only ">Let's connect: </span>
    <a href="mailto:sabela@waveconnect.es">sabela@waveconnect.es</a>
  </div>
</div>